*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

*.out

# vendor/

go.work

# go.sum

.idea/
.vscode/
*.swp

*.log

*.tmp
*.temp

bin/
obj/

.openkommander*

.DS_Store

# Test artifacts
coverage.out
coverage.html
*.coverprofile


frontend/.env*
frontend/node_modules
frontend/dist
frontend/*.log